<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
    <!--   Bootwatch Cyborg Theme-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css"
          integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">


</head>
<body>

<div class="container mt-5">

    <h1 class="d-flex justify-content-center">
        CRUD APP
    </h1>
    <a class="d-flex justify-content-center h3 text-primary " th:href="@{/users}">
        <i class="fa-solid fa-users text-white px-2"></i>Manage Users
    </a>

</div>


<!--Kit from FontAwesome -->
<script src="https://kit.fontawesome.com/e7874cc5eb.js" crossorigin="anonymous"></script>
</body>
</html>